.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.container__about {
  width: 80%;

  @media (min-width: 768px) {
    width: 50%;
  }
}
