@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Parisienne&family=Roboto:wght@100&display=swap");


.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @nest & h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
}

.container__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.container__about {
  width: 80%;

  @media (min-width: 768px) {
    width: 30%;
  }

 
}
