@import '../styles/custom-media.css';

.root {
  box-sizing: border-box;
  max-width: 960px;
  padding: 1.5em;
  margin: 0 auto;

  @nest & h2 {
    font-family: 'Libre Baskerville', serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @nest & h1 {
    font-family: 'Libre Baskerville', serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (--media-min-small) {
    padding: 2em;
  }
}
