@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.content {
  background: var(--color-white);
  min-height: calc(100% - 73px - 120px);

  @media (--media-min-small) {
    min-height: calc(100% - 91px - 155px);
  }
}

.footer {
  border-top: 1px solid var(--color-very-light-gray);
  background-color: #caf0f8;
  max-width: 100%;

  @nest & a {
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }
}

.footerWrapper {
  box-sizing: border-box;
  max-width: 100%;
  padding: 1em 1em 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    padding: 3em 1em 1.5em;
  }

  @nest & ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 1rem;
    text-decoration: none;
    list-style-type: none;

    @media (min-width: 768px) {
      flex-direction: row
    }

    
   

    @nest & li {
      margin-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      @nest & a {
        margin-left: 0.5rem;
        cursor: pointer;
      }

      @nest & span {
       
      }
    }
   
  }

  @media (--media-min-small) {
    padding: 6em 2em 2em;
  }
}

.footer__list {
  @nest &:hover {
    color: #f72585;
    cursor: pointer;
  }
}
.line {
  display: none;
  color: red;

  @nest & span {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
   }
}
